<div class="container-fluid">
  <div class="row panel search-bar">
    <input type="text" class="form-control input-lg" ng-model="$ctrl.query.name" placeholder="Search by name">
  </div>
  <div class="row panel container-fluid">
    <rotating-plane-spinner ng-show="$ctrl.showSpinner"></rotating-plane-spinner>
    <div class="row" ng-repeat="spell in $ctrl.spells | filter:$ctrl.query | orderBy:$ctrl.spellOrder">
      <div class="card card-block" ng-click="$ctrl.toggleExpanded(spell)">
        <h3 class="card-title">
          {{spell.name}}
          <!--<a class="btn btn-default pull-right" href="/#!/spells/edit/{{spell._id}}">Edit</a>-->
        </h3>
        <ul class="list-inline">
          <li><strong>Discipline:</strong> {{spell.discipline}}</li>
          <li><strong>Circle:</strong> {{spell.circle}}</li>
          <li><strong>Threads:</strong> {{spell.threads}}</li>
          <li ng-if="spell.weave !== 0"><strong>Weaving:</strong> {{spell.weave}}</li>
          <li><strong>Snap:</strong> {{spell.snap}}</li>
          <li><strong>Target:</strong> {{spell.target}}</li>
          <li><strong>Range:</strong> {{spell.range}}</li>
          <li><strong>Duration:</strong> {{spell.duration}}</li>
          <li><strong>Effect:</strong> {{spell.effect}}</li>
          <li ng-if="spell.aoe !== '0'"><strong>Area of Effect:</strong> {{spell.aoe}}</li>
        </ul>
        <p ng-if="spell.expanded" class="card-text">
          {{spell.description}}
        </p>
      </div>
    </div>
  </div>
</div>