#ed-navbar {
  border-radius: 0 !important;
}

.view-container {
  padding-left: 1em;
  padding-right: 1em;
}

.card {
  border: lightslategray 1px;
  border-style: solid;
  border-radius: 8px;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
}

#roller-card {
  padding: 0;
}

.card h3 {
  margin-top: 5px;
}

.card .card {
  border: none;
  padding-left: 1em;
  padding-right: 0.7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.search-bar {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}